.image__slider {
  overflow: hidden;
  display: block;
}

.image__slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image__slider__item:first-child {
  opacity: 1;
}
